docs/n8n/kingestion-02-seguimiento-operativo.json
{
  "name": "Kingestion 02 - Seguimiento operativo y correos automáticos",
  "nodes": [
    {
      "id": "1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -920,
        -100
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      }
    },
    {
      "id": "2",
      "name": "Prueba manual",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -920,
        100
      ],
      "parameters": {}
    },
    {
      "id": "3",
      "name": "Actividad reciente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -680,
        0
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.KINGESTION_BASE_URL + '/api/integrations/n8n/activity?entityType=case&action=case-status-updated&limit=50&since=' + encodeURIComponent(new Date(Date.now() - 15 * 60 * 1000).toISOString()) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-kingestion-api-key",
              "value": "={{ $env.KINGESTION_AUTOMATION_API_KEY }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "4",
      "name": "Expandir eventos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -440,
        0
      ],
      "parameters": {
        "jsCode": "const items = $input.first().json.items ?? [];\nreturn items.map((entry) => ({ json: entry }));"
      }
    },
    {
      "id": "5",
      "name": "Traer caso actualizado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -200,
        0
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.KINGESTION_BASE_URL + '/api/integrations/n8n/cases/' + $json.entityId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-kingestion-api-key",
              "value": "={{ $env.KINGESTION_AUTOMATION_API_KEY }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "6",
      "name": "Definir comunicacion",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        40,
        0
      ],
      "parameters": {
        "jsCode": "const entry = $json.item;\nconst email = {\n  caseId: entry.id,\n  clientName: entry.clientName,\n  contactName: entry.contactName,\n  contactEmail: entry.contactEmail,\n  status: entry.externalStatus,\n  zone: entry.zone,\n  nextAction: entry.nextAction,\n  internalNumber: entry.internalNumber,\n  kingstonNumber: entry.kingstonNumber,\n  transporter: entry.logistics.transporter,\n  guideNumber: entry.logistics.guideNumber,\n  trackingUrl: entry.logistics.trackingUrl,\n  subjectHint: '',\n  destinationEmail: '',\n  purpose: '',\n  includeAiDraft: true\n};\n\nswitch (entry.externalStatus) {\n  case 'Aviso de envio':\n    email.destinationEmail = entry.contactEmail;\n    email.subjectHint = 'Instrucciones de envio';\n    email.purpose = 'Enviar instrucciones para despacho del producto fallado y solicitud de comprobante.';\n    break;\n  case 'Producto recepcionado y en preparacion':\n    email.destinationEmail = entry.contactEmail;\n    email.subjectHint = 'Recepcion confirmada';\n    email.purpose = 'Confirmar recepcion del producto fallado y avisar que ANYX valida stock y reintegro.';\n    break;\n  case 'Pedido Kingston':\n    email.destinationEmail = entry.contactEmail;\n    email.subjectHint = 'Demora por reposicion Kingston';\n    email.purpose = 'Informar falta de stock local y que el caso depende de Kingston USA.';\n    break;\n  case 'Pedido deposito y etiquetado':\n    email.destinationEmail = $env.KINGESTION_TECH_EMAIL ?? 'serviciotecnico@anyx.com.ar';\n    email.subjectHint = 'Accion pendiente de servicio tecnico';\n    email.purpose = 'Avisar a servicio tecnico que debe catalogar y etiquetar el reemplazo.';\n    break;\n  case 'Liberar mercaderia':\n  case 'OV creada':\n    email.destinationEmail = $env.KINGESTION_PURCHASING_EMAIL ?? 'compras@anyx.com.ar';\n    email.subjectHint = 'Accion pendiente de compras';\n    email.purpose = 'Avisar a compras que debe liberar mercaderia o continuar la OV.';\n    break;\n  case 'Pedido guia':\n    email.destinationEmail = $env.KINGESTION_LOGISTICS_EMAIL ?? 'logistica@anyx.com.ar';\n    email.subjectHint = 'Solicitud de guia';\n    email.purpose = 'Solicitar a logistica y servicio tecnico la carga de guia y tracking.';\n    break;\n  case 'Producto enviado':\n    email.destinationEmail = entry.contactEmail;\n    email.subjectHint = 'Despacho confirmado';\n    email.purpose = 'Informar al cliente que el reemplazo fue despachado, incluyendo guia y tracking.';\n    break;\n  case 'Producto listo para retiro':\n    email.destinationEmail = entry.contactEmail;\n    email.subjectHint = 'Producto listo para retiro';\n    email.purpose = 'Informar al cliente que el reemplazo esta disponible para retiro en ANYX.';\n    break;\n  case 'Realizado':\n  case 'Vencido':\n  case 'Cerrado':\n    email.destinationEmail = entry.contactEmail;\n    email.subjectHint = 'Cierre de caso';\n    email.purpose = 'Informar al cliente el cierre final del caso con el contexto correspondiente.';\n    break;\n  default:\n    return [];\n}\n\nreturn [{ json: email }];"
      }
    },
    {
      "id": "7",
      "name": "IA redacta correo",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        300,
        0
      ],
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "GPT-5-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Actua como coordinador operativo de ANYX para RMA Kingston.\n\nRedacta SOLO JSON valido con este schema:\n{\n  \"subject\": \"string\",\n  \"text\": \"string\"\n}\n\nObjetivo del correo: {{ $json.purpose }}\nNumero interno: {{ $json.internalNumber }}\nCaso Kingston: {{ $json.kingstonNumber }}\nCliente: {{ $json.clientName }}\nContacto: {{ $json.contactName }}\nEstado: {{ $json.status }}\nZona: {{ $json.zone }}\nProxima accion: {{ $json.nextAction }}\nTransportista: {{ $json.transporter || 'No definido' }}\nGuia: {{ $json.guideNumber || 'No definida' }}\nTracking: {{ $json.trackingUrl || 'No informado' }}\n\nEl texto debe quedar profesional, breve, claro y totalmente en español."
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "temperature": 0.2,
          "maxTokens": 1200
        }
      }
    },
    {
      "id": "8",
      "name": "Parsear correo IA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        0
      ],
      "parameters": {
        "jsCode": "const context = $('Definir comunicacion').first().json;\nconst raw = $input.first().json.json ?? $input.first().json.output ?? $input.first().json.message?.content ?? $input.first().json.text ?? $input.first().json;\nlet parsed = raw;\n\nif (typeof raw === 'string') {\n  const cleaned = raw.replace(/^```json|^```|```$/gm, '').trim();\n  const match = cleaned.match(/\\{[\\s\\S]*\\}/);\n  parsed = JSON.parse(match ? match[0] : cleaned);\n}\n\nreturn [{\n  json: {\n    ...context,\n    subject: parsed.subject,\n    text: parsed.text\n  }\n}];"
      }
    },
    {
      "id": "9",
      "name": "Enviar correo operacional",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        820,
        0
      ],
      "parameters": {
        "fromEmail": "={{ $env.KINGESTION_FROM_EMAIL }}",
        "toEmail": "={{ $json.destinationEmail }}",
        "subject": "={{ $json.subject }}",
        "emailFormat": "text",
        "text": "={{ $json.text }}",
        "options": {
          "appendAttribution": false
        }
      }
    },
    {
      "id": "10",
      "name": "Registrar comentario",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1080,
        0
      ],
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.KINGESTION_BASE_URL + '/api/integrations/n8n/cases/' + $json.caseId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-kingestion-api-key",
              "value": "={{ $env.KINGESTION_AUTOMATION_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ comment: { body: 'n8n envio correo automatico para el estado ' + $json.status + ': ' + $json.subject, internal: true } }) }}",
        "options": {}
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Actividad reciente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prueba manual": {
      "main": [
        [
          {
            "node": "Actividad reciente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actividad reciente": {
      "main": [
        [
          {
            "node": "Expandir eventos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expandir eventos": {
      "main": [
        [
          {
            "node": "Traer caso actualizado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Traer caso actualizado": {
      "main": [
        [
          {
            "node": "Definir comunicacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Definir comunicacion": {
      "main": [
        [
          {
            "node": "IA redacta correo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IA redacta correo": {
      "main": [
        [
          {
            "node": "Parsear correo IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear correo IA": {
      "main": [
        [
          {
            "node": "Enviar correo operacional",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar correo operacional": {
      "main": [
        [
          {
            "node": "Registrar comentario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Argentina/Buenos_Aires"
  },
  "versionId": "ab8a3ea0-1546-457e-9c0a-42d7c3b11b2e",
  "id": "da335ca92dcc4791",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "kingestion-n8n-pack"
  },
  "tags": []
}
