docs/n8n/kingestion-02-seguimiento-operativo.json
{
  "name": "Kingestion 02 - Seguimiento operativo y correos automáticos",
  "nodes": [
    {
      "id": "1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -920,
        -100
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      }
    },
    {
      "id": "2",
      "name": "Prueba manual",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -920,
        100
      ],
      "parameters": {}
    },
    {
      "id": "3",
      "name": "Actividad reciente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -680,
        0
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.KINGESTION_BASE_URL + '/api/integrations/n8n/activity?entityType=case&action=case-status-updated&limit=50&since=' + encodeURIComponent(new Date(Date.now() - 15 * 60 * 1000).toISOString()) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-kingestion-api-key",
              "value": "={{ $env.KINGESTION_AUTOMATION_API_KEY }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "4",
      "name": "Expandir eventos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -440,
        0
      ],
      "parameters": {
        "jsCode": "const items = $input.first().json.items ?? [];\nreturn items.map((entry) => ({ json: entry }));"
      }
    },
    {
      "id": "5",
      "name": "Traer caso actualizado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -200,
        0
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.KINGESTION_BASE_URL + '/api/integrations/n8n/cases/' + $json.entityId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-kingestion-api-key",
              "value": "={{ $env.KINGESTION_AUTOMATION_API_KEY }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "6",
      "name": "Definir comunicacion",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        40,
        0
      ],
      "parameters": {
        "jsCode": "const entry = $json.item;\nconst contactName = entry.contactName || 'cliente';\nconst customerFormUrl = $env.KINGESTION_CUSTOMER_FORM_URL ?? '';\nconst pickupAddress = $env.KINGESTION_PICKUP_ADDRESS ?? 'Sucursal ANYX';\nconst internalKingstonRequestEmail = $env.KINGESTION_KINGSTON_REQUEST_EMAIL ?? 'gdelcastillo@anyx.com.ar';\nconst purchasingEmail = $env.KINGESTION_PURCHASING_EMAIL ?? 'compras@anyx.com.ar';\nconst technicalEmail = $env.KINGESTION_TECH_EMAIL ?? 'serviciotecnico@anyx.com.ar';\n\nconst base = {\n  caseId: entry.id,\n  clientName: entry.clientName,\n  contactName,\n  contactEmail: entry.contactEmail,\n  status: entry.externalStatus,\n  zone: entry.zone,\n  nextAction: entry.nextAction,\n  internalNumber: entry.internalNumber,\n  kingstonNumber: entry.kingstonNumber,\n  transporter: entry.logistics.transporter,\n  guideNumber: entry.logistics.guideNumber,\n  trackingUrl: entry.logistics.trackingUrl,\n  customerFormUrl,\n  pickupAddress,\n  includeAiDraft: true\n};\n\nconst emails = [];\nconst pushEmail = (payload) => emails.push({ json: { ...base, ...payload } });\n\nswitch (entry.externalStatus) {\n  case 'Aviso de envio':\n    if (!entry.contactEmail) return [];\n    pushEmail({\n      templateSlug: 'cliente-instrucciones-envio-y-formulario',\n      recipientType: 'cliente',\n      destinationEmail: entry.contactEmail,\n      subjectHint: 'Instrucciones de envío del producto fallado',\n      purpose: 'Solicitar al end user el envío del producto fallado a ANYX, pedir el comprobante oficial del correo con el costo del envío y recordarle que complete el formulario web con datos de entrega y datos bancarios para reintegro.',\n      contextNotes: customerFormUrl\n        ? `Incluí el enlace al formulario web ${customerFormUrl} y explicá que allí debe completar datos de entrega del reemplazo y datos bancarios para el reintegro del envío fallado.`\n        : 'Indicá que debe completar el formulario web definido por ANYX con datos de entrega y bancarios para el reintegro.'\n    });\n    break;\n  case 'Producto recepcionado y en preparacion':\n    if (!entry.contactEmail) return [];\n    pushEmail({\n      templateSlug: 'cliente-recepcion-confirmada',\n      recipientType: 'cliente',\n      destinationEmail: entry.contactEmail,\n      subjectHint: 'Recepción confirmada del producto fallado',\n      purpose: 'Confirmar al end user que ANYX recibió el producto fallado y que el caso sigue en preparación y validación interna.',\n      contextNotes: 'El correo debe ser breve y confirmar únicamente la recepción del producto fallado.'\n    });\n    break;\n  case 'OV creada':\n    pushEmail({\n      templateSlug: 'interno-compras-ov-creada',\n      recipientType: 'interno',\n      destinationEmail: purchasingEmail,\n      subjectHint: 'Acción pendiente de compras sobre OV creada',\n      purpose: 'Avisar a compras que la OV ya fue creada en Kingestion y que debe definir disponibilidad local, compra o continuidad del circuito.',\n      contextNotes: 'Este aviso adapta el antiguo pedido de liberación de mercadería del circuito SharePoint al estado actual OV creada.'\n    });\n    break;\n  case 'Pedido Kingston':\n    pushEmail({\n      templateSlug: 'interno-gustavo-pedido-kingston',\n      recipientType: 'interno',\n      destinationEmail: internalKingstonRequestEmail,\n      subjectHint: 'Solicitud para consolidar pedido a Kingston',\n      purpose: 'Enviar a Gustavo del Castillo la información del caso, la parte faltante y el SKU de reemplazo para consolidar el pedido a Kingston con otros faltantes.',\n      contextNotes: 'El correo debe quedar orientado a consolidación de pedido a Kingston EEUU y mencionar que se trata de reposición por falta local.'\n    });\n\n    if (entry.contactEmail) {\n      pushEmail({\n        templateSlug: 'cliente-demora-por-falta-local',\n        recipientType: 'cliente',\n        destinationEmail: entry.contactEmail,\n        subjectHint: 'Reposición solicitada a Kingston EEUU',\n        purpose: 'Informar al cliente que no hay stock local ni mayorista y que el reemplazo fue solicitado a Kingston EEUU.',\n        contextNotes: 'Debe explicar la demora de forma clara, sin prometer una fecha exacta si no existe.'\n      });\n    }\n    break;\n  case 'Pedido deposito y etiquetado':\n    pushEmail({\n      templateSlug: 'interno-servicio-tecnico-catalogacion',\n      recipientType: 'interno',\n      destinationEmail: technicalEmail,\n      subjectHint: 'Catalogación y disposición de reemplazo RMA',\n      purpose: 'Solicitar a servicio técnico que catalogue el producto como RMA y lo disponga para envío o retiro según la zona y modalidad del caso.',\n      contextNotes: entry.zone === 'Interior / Gran Buenos Aires'\n        ? 'Aclará que el producto debe quedar dispuesto para despacho al cliente y que la guía puede cargarse más tarde dentro de Kingestion.'\n        : 'Aclará que el producto debe quedar dispuesto para retiro del cliente en ANYX.'\n    });\n    break;\n  case 'Producto enviado':\n    if (!entry.contactEmail) return [];\n    pushEmail({\n      templateSlug: 'cliente-despacho-confirmado',\n      recipientType: 'cliente',\n      destinationEmail: entry.contactEmail,\n      subjectHint: 'Despacho confirmado del reemplazo',\n      purpose: 'Informar al cliente que ANYX ya despachó el producto de reemplazo hacia el domicilio definido.',\n      contextNotes: entry.logistics.guideNumber\n        ? 'Incluí guía, transportista y tracking si están disponibles.'\n        : 'Indicá que el despacho ya fue realizado y que la guía o tracking se informarán apenas estén disponibles.'\n    });\n    break;\n  case 'Producto listo para retiro':\n    if (!entry.contactEmail) return [];\n    pushEmail({\n      templateSlug: 'cliente-retiro-disponible',\n      recipientType: 'cliente',\n      destinationEmail: entry.contactEmail,\n      subjectHint: 'Producto listo para retiro',\n      purpose: 'Informar al cliente que el reemplazo ya está disponible para retiro en ANYX y explicarle cómo coordinarlo.',\n      contextNotes: `Incluí la dirección o punto de retiro configurado por ANYX: ${pickupAddress}.`\n    });\n    break;\n  case 'Realizado':\n  case 'Vencido':\n  case 'Cerrado':\n    if (!entry.contactEmail) return [];\n    pushEmail({\n      templateSlug: 'cliente-cierre-caso',\n      recipientType: 'cliente',\n      destinationEmail: entry.contactEmail,\n      subjectHint: 'Cierre del caso',\n      purpose: 'Informar al cliente el cierre final del caso con el contexto correspondiente al estado terminal actual.',\n      contextNotes: 'Si el estado es Realizado, reflejar resolución exitosa. Si es Vencido o Cerrado, dejar el motivo en términos administrativos y claros.'\n    });\n    break;\n  default:\n    return [];\n}\n\nreturn emails;"
      }
    },
    {
      "id": "7",
      "name": "IA redacta correo",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        300,
        0
      ],
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "GPT-5-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Actua como coordinador operativo de ANYX para RMA Kingston.\n\nRedacta SOLO JSON valido con este schema:\n{\n  \"subject\": \"string\",\n  \"text\": \"string\"\n}\n\nTemplate operativo: {{ $json.templateSlug }}\nTipo de destinatario: {{ $json.recipientType }}\nObjetivo del correo: {{ $json.purpose }}\nIndicaciones adicionales: {{ $json.contextNotes || 'Ninguna' }}\nNumero interno: {{ $json.internalNumber }}\nCaso Kingston: {{ $json.kingstonNumber }}\nCliente: {{ $json.clientName }}\nContacto: {{ $json.contactName }}\nEstado: {{ $json.status }}\nZona: {{ $json.zone }}\nProxima accion: {{ $json.nextAction }}\nTransportista: {{ $json.transporter || 'No definido' }}\nGuia: {{ $json.guideNumber || 'No definida' }}\nTracking: {{ $json.trackingUrl || 'No informado' }}\nFormulario cliente: {{ $json.customerFormUrl || 'No corresponde' }}\nDireccion de retiro: {{ $json.pickupAddress || 'No corresponde' }}\n\nEl texto debe quedar profesional, breve, claro, totalmente en español y alineado al circuito operativo actual de Kingestion. No inventes estados nuevos ni prometas fechas que no estén informadas."
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "temperature": 0.2,
          "maxTokens": 1200
        }
      }
    },
    {
      "id": "8",
      "name": "Parsear correo IA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        0
      ],
      "parameters": {
        "jsCode": "const context = $('Definir comunicacion').first().json;\nconst raw = $input.first().json.json ?? $input.first().json.output ?? $input.first().json.message?.content ?? $input.first().json.text ?? $input.first().json;\nlet parsed = raw;\n\nif (typeof raw === 'string') {\n  const cleaned = raw.replace(/^```json|^```|```$/gm, '').trim();\n  const match = cleaned.match(/\\{[\\s\\S]*\\}/);\n  parsed = JSON.parse(match ? match[0] : cleaned);\n}\n\nreturn [{\n  json: {\n    ...context,\n    subject: parsed.subject,\n    text: parsed.text\n  }\n}];"
      }
    },
    {
      "id": "9",
      "name": "Enviar correo operacional",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        820,
        0
      ],
      "parameters": {
        "fromEmail": "={{ $env.KINGESTION_FROM_EMAIL }}",
        "toEmail": "={{ $json.destinationEmail }}",
        "subject": "={{ $json.subject }}",
        "emailFormat": "text",
        "text": "={{ $json.text }}",
        "options": {
          "appendAttribution": false
        }
      }
    },
    {
      "id": "10",
      "name": "Registrar comentario",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1080,
        0
      ],
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.KINGESTION_BASE_URL + '/api/integrations/n8n/cases/' + $json.caseId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-kingestion-api-key",
              "value": "={{ $env.KINGESTION_AUTOMATION_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ comment: { body: 'n8n envio aviso automatico (' + $json.templateSlug + ') a ' + $json.destinationEmail + ' por el estado ' + $json.status + ': ' + $json.subject, internal: true } }) }}",
        "options": {}
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Actividad reciente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prueba manual": {
      "main": [
        [
          {
            "node": "Actividad reciente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actividad reciente": {
      "main": [
        [
          {
            "node": "Expandir eventos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expandir eventos": {
      "main": [
        [
          {
            "node": "Traer caso actualizado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Traer caso actualizado": {
      "main": [
        [
          {
            "node": "Definir comunicacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Definir comunicacion": {
      "main": [
        [
          {
            "node": "IA redacta correo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IA redacta correo": {
      "main": [
        [
          {
            "node": "Parsear correo IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear correo IA": {
      "main": [
        [
          {
            "node": "Enviar correo operacional",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar correo operacional": {
      "main": [
        [
          {
            "node": "Registrar comentario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Argentina/Buenos_Aires"
  },
  "versionId": "ab8a3ea0-1546-457e-9c0a-42d7c3b11b2e",
  "id": "da335ca92dcc4791",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "kingestion-n8n-pack"
  },
  "tags": []
}
