docs/n8n/kingestion-04-alertas-sla.json
{
  "name": "Kingestion 04 - Alertas SLA y seguimiento diario",
  "nodes": [
    {
      "id": "1",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -760,
        -100
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "triggerAtHour": 9,
              "triggerAtMinute": 0
            }
          ]
        }
      }
    },
    {
      "id": "2",
      "name": "Prueba manual",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -760,
        100
      ],
      "parameters": {}
    },
    {
      "id": "3",
      "name": "Casos abiertos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -520,
        0
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $env.KINGESTION_BASE_URL + '/api/integrations/n8n/cases?queue=open' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-kingestion-api-key",
              "value": "={{ $env.KINGESTION_AUTOMATION_API_KEY }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "4",
      "name": "Construir digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -280,
        0
      ],
      "parameters": {
        "jsCode": "const items = $input.first().json.items ?? [];\nconst now = Date.now();\n\nconst critical = items.filter((entry) => {\n  const due = new Date(entry.slaDueAt).getTime();\n  const hoursRemaining = Math.round((due - now) / (1000 * 60 * 60));\n  return hoursRemaining <= 24 || entry.externalStatus === 'Pedido Kingston';\n});\n\nconst lines = critical.map((entry) => {\n  const due = new Date(entry.slaDueAt).toLocaleString('es-AR');\n  return `- ${entry.internalNumber} | ${entry.clientName} | ${entry.externalStatus} | SLA ${due} | Responsable: ${entry.owner}`;\n});\n\nreturn [{\n  json: {\n    totalOpenCases: items.length,\n    criticalCount: critical.length,\n    lines\n  }\n}];"
      }
    },
    {
      "id": "5",
      "name": "IA redacta digest",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -40,
        0
      ],
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "GPT-5-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Redacta SOLO JSON valido con este schema:\n{\n  \"subject\": \"string\",\n  \"text\": \"string\"\n}\n\nContexto:\n- Casos abiertos totales: {{ $json.totalOpenCases }}\n- Casos criticos hoy: {{ $json.criticalCount }}\n- Detalle:\n{{ $json.lines.join('\\n') }}\n\nEl texto debe quedar en español y con foco operativo para supervisores de ANYX."
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "temperature": 0.2,
          "maxTokens": 900
        }
      }
    },
    {
      "id": "6",
      "name": "Parsear digest IA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "parameters": {
        "jsCode": "const raw = $input.first().json.json ?? $input.first().json.output ?? $input.first().json.message?.content ?? $input.first().json;\nlet parsed = raw;\n\nif (typeof raw === 'string') {\n  const cleaned = raw.replace(/^```json|^```|```$/gm, '').trim();\n  const match = cleaned.match(/\\{[\\s\\S]*\\}/);\n  parsed = JSON.parse(match ? match[0] : cleaned);\n}\n\nreturn [{ json: parsed }];"
      }
    },
    {
      "id": "7",
      "name": "Enviar digest",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        480,
        0
      ],
      "parameters": {
        "fromEmail": "={{ $env.KINGESTION_FROM_EMAIL }}",
        "toEmail": "={{ $env.KINGESTION_SUPERVISION_EMAIL }}",
        "subject": "={{ $json.subject }}",
        "emailFormat": "text",
        "text": "={{ $json.text }}",
        "options": {
          "appendAttribution": false
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Casos abiertos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prueba manual": {
      "main": [
        [
          {
            "node": "Casos abiertos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Casos abiertos": {
      "main": [
        [
          {
            "node": "Construir digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construir digest": {
      "main": [
        [
          {
            "node": "IA redacta digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IA redacta digest": {
      "main": [
        [
          {
            "node": "Parsear digest IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear digest IA": {
      "main": [
        [
          {
            "node": "Enviar digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Argentina/Buenos_Aires"
  },
  "versionId": "a291a9b6-bf27-42d0-b6fe-04f97f9cd1c7",
  "id": "f1ad32b2abaf4550",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "kingestion-n8n-pack"
  },
  "tags": []
}
